


@media only screen and (max-width:767px) 
{
    div#cv-template {
        width: 360px;
        padding: 0;
    }
    
    .img-fluid {
        margin-top: -20px;
        max-width: 78% !important;
        height: 114px !important;
    }
    
    h1 {
        font-size: 24px !important;
    }
    
    .titleJob{
        font-size: 16px !important;
    }
    
    h5 {
        font-size: 16px !important;
        margin-left: -25px !important;
    }
    
    .card.mt-4 {
        margin-left: -21px;
        margin-right: -9px;
    }

    .card-body p {
        font-size: 11px;
        text-align: justify;
    }

    ul#aqT li {
        text-align: justify !important;
        font-size: 11px;
        margin-left: -20px;
    }

    .template-asidebar {
        padding: 15px 6px 0 6px;
    }

    .template-asidebar {
        font-size: 12px;
    }

    span#emailT {
        position: relative;
        word-wrap: break-word;
    }

    .fluid h5 {
        margin-left: 2px !important;
    }
}