* {
    margin: 0;
    padding: 0;
}

/* slider css start */
.leftSection-slider .carousel-item img {
    /* object-fit: cover; */
}


.leftSection-slider .carousel {
    position: relative;
    width: 50%;
    left: 37px;
    bottom: 313px;
}

.leftSection-slider button.carousel-control-prev {
background: rgb(119, 118, 118);
top: 50%;
width: 40px;
height: 40px;
}


.leftSection-slider button.carousel-control-next {
background: rgb(119, 118, 118);
top: 50%;
width: 40px;
height: 40px;
}

.background-crousel img {
    width: 309px;
}

.btncreateResume {
    background: #5633CF;
    color: white;
    text-decoration: none;
    padding: 13px 50px 13px 50px;
    border-radius: 12px;
    font-size: 19px;
    cursor: pointer;
}

.btncreateResume:hover{
    background: aliceblue;
    text-decoration: none;
}

/* animation */
.template {
    perspective: 1000px; /* Adds depth to the 3D effect */
}

.template-card {
    transition: transform 0.5s; /* Smooth transition effect */
    display: inline-block; /* Ensures the card can be transformed */
}

.template:hover .template-card {
    transform: rotateY(360deg); /* Completes a full 360-degree rotation */
}

.template-card, .template-card * {
    backface-visibility: hidden; /* Prevents flickering or mirrored content from being visible */
}

