/* Template 1  */


.img-fluid {
    max-width: 106px !important;
    height: 106px !important;
    background: aliceblue;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 24px;
}

.imageSection {
    margin-left: 27px;
}

.background {
    background: #3492e4;
}

.template-cv-content {
    border: 1px solid grey;
    padding: 0;
}

.template-about {
    line-height: 1;
}

/* .template-leftSection.background.py-5 {
    width: max-content;
} */

.card-header {
    padding: 7px 0px 2px 35px !important;
}

.heading-cv-template {
    line-height: 0.7;
}


.impLinks a {
    color: black;
    width: 100% !important;
    word-wrap: break-word;
    text-decoration: none !important;
}

.template-asidebar {
    padding: 20px 40px 0 40px;
    height: 1219px;
}

span#addressT {
    word-wrap: break-word;
}



p#objectiveT {
    text-align: justify;
}




/* colorpicker */
body {
    display: flex;
    font-family: Arial;
    flex-direction: column;
    align-items: center;
    gap: 14px 14px;
}

button {
    background-color: rgb(0, 0, 50);
    color: white;
}

input[type=color] {
    width: 56px;
    height: 28px;

    border: none;
    background-color: transparent;
    box-shadow: inset 2px 2px 10px gray;
}

/*  */


.multiColour.mt-3 {
    display: flex;
    gap: 5px;
}

button.btnRemove {
    background: #f26767;
    color: white;
    border: 1px solid #f26767;
    border-radius: 5px;
}


button.btnApply {
    background: rgb(187, 240, 176);
    color: black;
    border: 1px solid white;
    border-radius: 5px;
}

/* Template 1 ends */


/* templatte 7 */

.headder-section-about{
    border-bottom: 7px solid orange;
}
.template9-summary-section {
    border-bottom: 7px solid orange;
}
.template9-experience-section{
    border-bottom: 7px solid orange;
}


/* --------------------------showing------------------------ */

.showMyImage {
    width: 87px;
    height: 87px !important;
    position: absolute;
    left: -30px;
    bottom: 14px;
}
.showHeaderSection {
    border-bottom: 5px solid orange;
}

.showSummary-section {
    border-bottom: 5px solid orange;
}

.right-section-show {
    padding: 20px 20px 20px 20px !important;
}

.showExperience .projectResultSection p {
    font-size: small !important;
}

.presonalInfo h3 {
    text-align: center;
}

.presonalInfo.p-3 {
    border: 1px solid rgb(153, 149, 149);
    box-shadow: 0px 0px 7px 5px #f5ebeb;
    border-radius: 7px;
}

.professionalInfo h3 {
    text-align: center;
}

.professionalInfo {
    border: 1px solid rgb(153, 149, 149);
    box-shadow: 0px 0px 7px 5px #f5ebeb;
    border-radius: 7px;
}

.btn_showExperiene {
    width: 300px;
}

.btn_addExperience {
    width: 300px;
}

.btn-sm {
    width: 245px;
    padding: 8px;
}

.hobbyForm {
    border: 1px solid rgb(153, 149, 149);
    box-shadow: 0px 0px 7px 5px #f5ebeb;
    border-radius: 7px;
}

.btn_Generate {
    width: 456px;
    padding: 10px;
}

.showExperience .projectResultSection .nameProject{
    font-size: 19px !important;
}

img#showImgTemplate2 {
    width: 130px;
    height: 130px !important;
}

