

/* Template 1  */

.myimg{
    border-radius: 50%;
    width: 200px;
}
.img-fluid {
    width: 250px !important;
    height: auto;
    position: absolute;
    left: 75px;
    bottom: -34px;
    border: 2px solid blue;
}
.background {
    background: #3492e4;
}

.template-cv-content{
    border: 1px solid grey;
    padding: 0;
}
.template-about {
    line-height: 1;
}

/* .template-leftSection.background.py-5 {
    width: max-content;
} */

.card-header {
    padding: 7px 0px 2px 35px !important;
}
.heading-cv-template {
    line-height: 0.7;
}


.impLinks a {
    color: black;
    width: 100% !important;
    word-wrap: break-word;
    text-decoration: none !important;
}

.template-asidebar {
    padding: 20px 40px 0 40px;
    height: 1219px;
}

span#addressT {
    word-wrap: break-word;
}


p#objectiveT {
    text-align: center;
}

/* manually Colour Change */

#color1{

        background: #b9bdb9;
        border: 1px solid #b9bdb9;
        border-radius: 59%;
        padding: 17px;
        height:30px;
        width:30px;
}

#color2 {
 
        background: #FFF8F4;
        border: 1px solid #FFF8F4;
        border-radius: 59%;
        padding: 17px;
        height:30px;
        width:30px;
}

#color3 {
  
        background: #D9E6EB;
        border: 1px solid #D9E6EB;
        border-radius: 59%;
        padding: 17px;
        height:30px;
        width:30px;
}

#color4{
  
        background: #8B3DFF;
        border: 1px solid #8B3DFF;
        border-radius: 59%;
        padding: 17px;
        height:30px;
        width:30px;
    
}

#color5{
    background: #6B9999;
    border: 1px solid #6B9999;
    border-radius: 59%;
    padding: 17px;
    height:30px;
    width:30px;
}

#color6{
    background: #414143;
    border: 1px solid #414143;
    border-radius: 59%;
    padding: 17px;
    height:30px;
    width:30px;
}

/* for font */
#Fcolor1{

    background: #b9bdb9;
    border: 1px solid #b9bdb9;
    border-radius: 59%;
    padding: 17px;
    height:30px;
    width:30px;
}

#Fcolor2 {

    background: #FFF8F4;
    border: 1px solid #FFF8F4;
    border-radius: 59%;
    padding: 17px;
    height:30px;
    width:30px;
}

#Fcolor3 {

    background: #D9E6EB;
    border: 1px solid #D9E6EB;
    border-radius: 59%;
    padding: 17px;
    height:30px;
    width:30px;
}

#Fcolor4{

    background: #8B3DFF;
    border: 1px solid #8B3DFF;
    border-radius: 59%;
    padding: 17px;
    height:30px;
    width:30px;

}

#Fcolor5{
background: #6B9999;
border: 1px solid #6B9999;
border-radius: 59%;
padding: 17px;
height:30px;
width:30px;
}

#Fcolor6{
background: #414143;
border: 1px solid #414143;
border-radius: 59%;
padding: 17px;
height:30px;
width:30px;
}

.colorSelection-Section {
    display: flex;
    gap: 10px;
}
/* colorpicker */
body {
    display: flex;
    font-family: Arial;
    flex-direction: column;
    align-items: center;
    gap: 14px 14px;
    }
    button {
    background-color: rgb(0, 0, 50);
    color: white;
    }
    input[type=color] {
        width: 56px;
        height: 28px;
       
    border: none;
    background-color: transparent;
      box-shadow: inset 2px 2px 10px gray;
    }
/*  */


.multiColour.mt-3 {
    display: flex;
    gap: 5px;
}

button.btnRemove {
    background: #f26767;
    color: white;
    border: 1px solid #f26767;
    border-radius: 5px;
}


button.btnApply {
    background: rgb(187, 240, 176);
    color: black;
    border: 1px solid white;
    border-radius: 5px;
}
.inner-contact {
    padding: 0 0 20px 0;
}
span.cont-icon {
    background: #007bff;
    padding: 5px 7px;
    border-radius: 50px;
}

span.cont-iconn {
    background: #007bff;
    padding: 5px 9px;
    border-radius: 50px;
}


/* Template 1 ends */

.experienceH5 {
    line-height: 0px;
    margin-top: 38px !important;
}

/* template-3 */
.asideBar-content {
    background: black;
    color: wheat;
    height: 1525px;
}
.asideBar {
    padding-left: 62px;
}

div#cvTemplate {
    border: 1px solid black;
}

.blueSection {
    background: blue;
    height: 180px;
    top: 95px;
    position: absolute;
    left: -48%;
    display: grid;
    width: 1081px;
    bottom: 1222px;
}

.aside-aboutMe.p-4 {
    position: absolute;
    top: 22%;
    text-align: center;
}

.contact-details {
    position: absolute;
    top: 35%;
}
.template3-main {
    position: relative;
}

.templatte2-languages.px-5.mt-4 {
    position: absolute;
    top: 695px;
}

.langHeading {
    border: 2px solid blue;
    padding: 2px 76px 0 71px;
    margin-left: -15px;
    border-radius: 50px;
}

.template2-skills.px-5.mt-4 {
    position: absolute;
    top: 797px;
}

.skillLoop {
    border: 2px solid blue;
    padding: 4px 64px 0px 71px;
    border-radius: 50px;
    margin: 0px -13px 0 -12px;
}