

/* Template 1  */

.myimg{
    border-radius: 50%;
    width: 200px;
}
.img-fluid {
    max-width: 100%;
    height: 210px !important;
}
.background {
    background: #3492e4;
}

.template-cv-content{
    border: 1px solid grey;
    padding: 0;
}
.template-about {
    line-height: 1;
}

/* .template-leftSection.background.py-5 {
    width: max-content;
} */

.card-header {
    padding: 7px 0px 2px 35px !important;
}

.heading-cv-template {
    line-height: 0.7;
}


.impLinks a {
    color: black;
    width: 100% !important;
    word-wrap: break-word;
    text-decoration: none !important;
}

.template-asidebar {
    padding: 20px 40px 0 40px;
    height: 1219px;
}

span#addressT {
    word-wrap: break-word;
}



p#objectiveT {
    text-align: justify;
}

/* manually Colour Change */

#color1{

    background: #b9bdb9;
    border: 1px solid #b9bdb9;
    border-radius: 59%;
    padding: 9px;
    height: 25px;
    width: 26px;
}

#color2 {

    background: #FFF8F4;
    border: 1px solid #FFF8F4;
    border-radius: 59%;
    padding: 9px;
    height: 25px;
    width: 26px;
}

#color3 {

    background: #D9E6EB;
    border: 1px solid #D9E6EB;
    border-radius: 59%;
    padding: 9px;
    height: 25px;
    width: 26px;
}

#color4{

    background: #8B3DFF;
    border: 1px solid #8B3DFF;
    border-radius: 59%;
    padding: 9px;
    height: 25px;
    width: 26px;

}

#color5{
background: #6B9999;
border: 1px solid #6B9999;
border-radius: 59%;
padding: 9px;
height: 25px;
width: 26px;
}

#color6{
background: #414143;
border: 1px solid #414143;
border-radius: 59%;
padding: 9px;
height: 25px;
width: 26px;
}

/* for font */
#Fcolor1{

    background: white;
    border: 1px solid #b9bdb9;
    border-radius: 59%;
    padding: 9px;
    height: 25px;
    width: 26px;
}

#Fcolor2 {

    background: #0B0B0D;
    border-radius: 59%;
    padding: 9px;
    height: 25px;
    width: 26px;
}


.colorSelection-Section {
    display: flex;
    gap: 5px;
}
/* colorpicker */
body {
    display: flex;
    font-family: Arial;
    flex-direction: column;
    align-items: center;
    gap: 14px 14px;
    }
    button {
    background-color: rgb(0, 0, 50);
    color: white;
    }
    input[type=color] {
        width: 56px;
        height: 28px;
       
    border: none;
    background-color: transparent;
      box-shadow: inset 2px 2px 10px gray;
    }
/*  */


.multiColour.mt-3 {
    display: flex;
    gap: 5px;
    align-items: center;
    border: 1px solid #999595;
    margin-top: -15px !important;
    padding: 7px 9px 4px 9px;
    align-items: center;
    border-left: none;
    border-right: none;
}

button.btnRemove {
    background: #f26767;
    color: white;
    border: 1px solid #f26767;
    border-radius: 5px;
}


button.btnApply {
    background: rgb(187, 240, 176);
    color: black;
    border: 1px solid white;
    border-radius: 5px;
}

/* Template 1 ends */


/* Template 2  */


.leftSection-heading {
    height: 158px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    margin-top: 39px;
}

.template2-details.px-5.mt-5 {
    margin-top: 131px !important;
}

/* div#cvTemplate {
    height: 1521px !important;
    border-bottom: 15px solid lightblue;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
} */
.asideBar-section {
    margin-left: 26px;
}

.template2-experiences {
    padding-right: 24px;
}

p#jobTitleT {
    line-height: 5px;
    margin-left: 40px;
}
h1#nameT2 {
    font-size: xxx-large;
    margin-left: 26px;
}

.template2-heading {
    padding: 36px 0 36px 0;
    background: lightblue;
}

.leftSection-heading{
    background-color: lightblue;
}
span#emailT {
    position: absolute;
    line-break: anywhere;
}
/* Template 2 ends */


img#showImgTemplate2 {
    width: 16%;
    height: 117px !important;
    background: #c9c5c5;
    border-radius: 50%;
    position: absolute;
    top: 23px;
    left: 70px;
}

.resumeGenerator-main {
    border: 1px solid grey;
    padding: 14px;
    position: relative;
}
.showresume-asideBarSection {
    margin-top: 42px;
}

.displayResumeTemplate {
    border: 1px solid gray;
}

.showresume-asideBarSection p {
    font-size: small;
}

.displayResumeTemplate {
    border-radius: 7px;
    box-shadow: 0px 0px 7px 5px #f5ebeb;
    position: sticky;
    top: 10px;
}
.displayResumeTemplate-main {
    border-radius: 7px;
}

.presonalInfo {
    border: 1px solid #999595;
    border-radius: 7px;
    box-shadow: 0px 0px 7px 5px #f5ebeb;
}

.presonalInfo h3{
    text-align: center;
}
.professionalInfo {
    border: 1px solid #999595;
    border-radius: 7px;
    box-shadow: 0px 0px 7px 5px #f5ebeb;
}
.professionalInfo h3{
    text-align: center;
}

.socialMediaLinks {
    border: 1px solid #999595;
    border-radius: 7px;
    box-shadow: 0px 0px 7px 5px #f5ebeb;
}
.socialMediaLinks h3 {
text-align: center;
}

.show-intrestSection{
    border: 1px solid #999595;
    border-radius: 7px;
    box-shadow: 0px 0px 7px 5px #f5ebeb;
}

.show-intrestSection{
    text-align: center;
}

p#showObjectiveT {
    font-size: 14px;
    text-align: justify;
}

ul#showAqT {
    font-size: 14px;
    text-align: justify;
}

h2#nameT2 {
    font-size: xxx-large;
}

.btn_showExperiene {
    width: 300px;
}

.btn_addExperience {
    width: 300px;
}

.btn-sm {
    width: 245px;
    padding: 8px;
}

.colorSelection-Section {
    border: 1px solid #999595;
    padding: 0px 13px 0px 13px;
    border-radius: 0px 0px 0px 26px;
    margin-top: -15px;
    align-items: center;
}

.fontSelection-Section {
    border: 1px solid #999595;
    padding: 0px 13px 0px 13px;
    border-radius: 0px 0px 26px 0px;
    margin-top: -15px;
    align-items: center;
}

.showResume-rightSideMainSection {
    padding: 0 18px 0 0;
    margin-left: -11px;
}

.btn_Generate {
    width: 456px;
    padding: 10px;
}

.downloadFont p {
    font-size: 19px;
}
h5#fontClrContactMain {
    font-size: 32px;
}

h5#fontClrSkillsMain {
    font-size: 32px;
}

h5#fontClrLinksMain {
    font-size: 32px;
}
h5#fontClrHobbyMain {
    font-size: 32px;
}
h5#fontClrIntrstMain {
    font-size: 32px;
}
h5#fontClrLangMain {
    font-size: 32px;
}
h5#fontClrObjectiveMain {
    font-size: 32px;
}
h5#fontClrExpMain {
    font-size: 32px;
}
h5#fontClrEduMain {
    font-size: 32px;
}
ul#keySkills {
    font-size: 19px;
}
ul#hobbys {
    font-size: 19px;
}
ul#intrests {
    font-size: 19px;
}
ul#languages {
    font-size: 19px;
}
p#objectiveT {
    font-size: 18px;
}
ul#aqT {
    font-size: 18px;
}




















