/* Template 1  */


.img-fluid {
    max-width: 100%;
    height: 168px !important;
    background: aliceblue;
    border-radius: 12px;
}

.imageSection {
    margin-left: 27px;
}

.background {
    background: #3492e4;
}

.template-cv-content {
    border: 1px solid grey;
    padding: 0;
}

.template-about {
    line-height: 1;
}

/* .template-leftSection.background.py-5 {
    width: max-content;
} */

.card-header {
    padding: 7px 0px 2px 35px !important;
}

.heading-cv-template {
    line-height: 0.7;
}


.impLinks a {
    color: black;
    width: 100% !important;
    word-wrap: break-word;
    text-decoration: none !important;
}

.template-asidebar {
    padding: 20px 40px 0 40px;
    height: 1219px;
}

span#addressT {
    word-wrap: break-word;
}



p#objectiveT {
    text-align: justify;
}

/* manually Colour Change */

#color1 {

    background: #b9bdb9;
    border: 1px solid #b9bdb9;
    border-radius: 59%;
    padding: 9px;
    height: 25px;
    width: 25px;
}


#color3 {

    background: #D9E6EB;
    border: 1px solid #D9E6EB;
    border-radius: 59%;
    padding: 9px;
    height: 25px;
    width: 25px;
}

#color4 {

    background: #8B3DFF;
    border: 1px solid #8B3DFF;
    border-radius: 59%;
    padding: 9px;
    height: 25px;
    width: 25px;

}

#color5 {
    background: #6B9999;
    border: 1px solid #6B9999;
    border-radius: 59%;
    padding: 9px;
    height: 25px;
    width: 25px;
}

#color6 {
    background: #414143;
    border: 1px solid #414143;
    border-radius: 59%;
    padding: 9px;
    height: 25px;
    width: 25px;
}

/* for font */
#Fcolor1 {

    background: white;
    border: 1px solid #a8aba8;
    border-radius: 59%;
    padding: 9px;
    height: 25px;
    width: 25px;
}

#Fcolor2 {

    background: black;
    border-radius: 59%;
    padding: 9px;
    height: 25px;
    width: 25px;
}





.colorSelection-Section {
    display: flex;
    gap: 5px;
}

/* colorpicker */
body {
    display: flex;
    font-family: Arial;
    flex-direction: column;
    align-items: center;
    gap: 14px 14px;
}

button {
    background-color: rgb(0, 0, 50);
    color: white;
}

input[type=color] {
    width: 56px;
    height: 28px;

    border: none;
    background-color: transparent;
    box-shadow: inset 2px 2px 10px gray;
}

/*  */


.multiColour.mt-3 {
    display: flex;
    gap: 5px;
}

button.btnRemove {
    background: #f26767;
    color: white;
    border: 1px solid #f26767;
    border-radius: 5px;
}


button.btnApply {
    background: rgb(187, 240, 176);
    color: black;
    border: 1px solid white;
    border-radius: 5px;
}

/* Template 1 ends */


/* Template 2  */


.leftSection-heading {
    height: 158px;
}



.template2-details.px-5.mt-5 {
    margin-top: 131px !important;
}

/* div#cvTemplate {
    height: 1521px !important;
    border-bottom: 15px solid lightblue;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
} */
.asideBar-section {
    margin-left: 26px;
}

.template2-experiences {
    padding-right: 24px;
}

p#jobTitleT {
    line-height: 5px;
    margin-left: 40px;
}

h1#nameT2 {
    font-size: xxx-large;
    margin-top: 49px;
}

.template2-heading {
    padding: 36px 0 36px 0;
    background: lightblue;
}

.leftSection-heading {
    background-color: lightblue;
}

/* Template 2 ends */



.contact-section {
    display: flex;
    justify-content: center;
    gap: 44px;
    background: #d3cece;
}

.heading-section {
    display: flex;
    gap: 10px;
    border-bottom: 2px solid blueviolet;
}

.iconSection {
    background: purple;
    color: white;
    padding: 5px 13px 0 13px;

}

.heading-title h4 {
    margin-top: 5px;
}

.template2-aboutme.mt-1 {
    text-align: justify;
}

.template4-content.p-3 {
    background: #c200ff;
}
.contact-section div p {
    margin-bottom: 6px;
}

.headerSection-showResume {
    padding: 12px;
    background: #c200ff;
    border-radius: 7px;
}
img#showImgTemplate2 {
    width: 123px;
    height: 119px !important;
    margin-left: 19px;
}

.profileNameSection-nameTitle {
    line-height: 5px;
    margin-top: 29px;
}
.showTemplate-contact {
    display: flex;
}
.showTemplate-contact {
    display: flex;
    font-size: small;
    gap: 18px;
    justify-content: center;
    background-color: #D3CECE;
}

p.fontColorChange {
    margin-bottom: 5px;
    padding: 2px;
}
.resumeGenerator-main {
    border: 1px solid #778899;
    position: relative;
}

.showResFontSize {
    font-size: 14px;
}
.showIconSection {
    background: #c200ff;
    margin-top: 5px;
    padding: 7px 12px 0px 12px;
    color: white;
}

div#iconProjectColor i {
    padding: 0 3px 0px 3px;
}
div#iconEducationColor i {
    font-size: 21px;
}
.showHeading-title {
    margin-top: 12px;
}

.profileNameSection-nameTitle h2 {
    color: white;
}
.profileNameSection-nameTitle p {
    color: white;
}

.presonalInfo {
    border: 1px solid #778899;
    border-radius: 7px;
    box-shadow: 0px 0px 7px 5px #f5ebeb;
}

.professionalInfo{
    border: 1px solid #778899;
    border-radius: 7px;
    box-shadow: 0px 0px 7px 5px #f5ebeb;
}
.socialMediaLinks{
    border: 1px solid #778899;
    border-radius: 7px;
    box-shadow: 0px 0px 7px 5px #f5ebeb;
}
.intrestsForm-section{
    border: 1px solid #778899;
    border-radius: 7px;
    box-shadow: 0px 0px 7px 5px #f5ebeb;
}

.showResume-template {
    border: 1px solid #778899;
    border-radius: 7px;
    box-shadow: 0px 0px 7px 5px #f5ebeb;
    position: sticky;
    top: 10px;
}
.showHeading-title h4 {
    font-size: 21px;
}

div#showIconProjectColor i {
    padding: 3px;
}

.presonalInfo h3 {
    text-align: center;
}
.professionalInfo h3 {
    text-align: center;
}
.socialMediaLinks h3 {
    text-align: center;
}
.intrestsForm-section {
    text-align: center;
}

.btn_Generate {
    width: 456px;
    padding: 10px;
}

.btn-sm {
    width: 245px;
    padding: 8px;
}

.btn_showExperiene {
    width: 300px;
}

.btn_addExperience {
    width: 300px;
}

.btn_showProject{
    width: 300px;
}

.btn_addProject{
    width: 300px;
}
.chooseColour {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.colorSelection-Section {
    display: flex;
    gap: 5px;
    padding: 7px 18px 7px 17px;
    border: 1px solid #778899;
    margin-bottom: 6px;
    margin-top: -1px;
    border-radius: 0px 0px 0px 19px;
}

.fontSelection-Section{
    display: flex;
    gap: 5px;
    padding: 7px 18px 7px 17px;
    border: 1px solid #778899;
    margin-bottom: 6px;
    margin-top: -1px;
    border-radius: 0px 0px 19px 0px;
}
.multiColour {
    border-bottom: 1px solid #778899;
    padding: 1px 11px 0px 9px;
    margin-top: 0px;
}